HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/frontend/node_modules/
src/main/resources/keystore/
src/backend/resources/application-local.yml
src/frontend/.env
src/main/backend/resources/application.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/frontend/.env
/src/frontend
src/frontend/.env
src/main/resources/application.yml
src/frontend/.env
src/main/resources/application-local.yml
